body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #dfdce3;
}

/* Global */
.container {
  width: 85%;
  margin: auto;
  overflow: hidden;
}


/* Header */
header {
  background-color: #4abdac;
  color: white;
  padding-top: 15px;
  min-height: 70px;
  border-bottom: #f7b733 5px solid;
}

header h1 {
  float: left;
}

header nav {
  float: right;
  margin-top: 10px;
}

header li{
  display: inline;
  margin: 20px;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header .current a {
  color: #f7b733;
  font-weight: bold;
}

header a:hover {
  color: #dfdce3;
  font-weight: bold;
}



/* Showcase */
#showcase {
  min-height: 400px;
  background:  linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ), url('../images/books.jpg') no-repeat 0 -400px;
  background-size: cover;
  text-align: center;
  color: white;
  border-bottom: #f7b733 5px solid;
}

#showcase h1 {
  margin-top: 100px;
  font-size: 40px;
}

/* Newsletter */
#newsletter {
  background-color: #4abdac;
  color: white;
  padding: 10px;
}
#newsletter h3 {
  float: left;
}
#newsletter form {
  padding-top: 15px;
  float: right;
}
#newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 250px;
}
#newsletter button {
  padding: 10px 15px;
  color: white;
  background-color: #fc4a1a;
  border: 0;
}

/* Boxes */
#boxes {
  margin-top:20px;
}

.containerBox {
  width: 85%;
  margin: auto;
  overflow: hidden;
  display: flex;
}

.box {
  flex: 1;
  text-align: center;
  margin: 0 30px;
}
img {
  height: 150px;
  width: 150px;
}

/* Footer */
footer {
  background-color: #4abdac;
  color: white;
  text-align: center;
  border-top:  #f7b733 5px solid;
  padding: 5px;
}
